* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

.logo{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
}

.team-name{
    margin-bottom: 10px;
    font-size: 40px;
    display: inline-block;
}

nav{
    background-color: #413d3d;
    color: white;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    transition: color 0.5s;
}

nav a:hover{
    color: rgba(255, 255, 255, 0.42);
    text-decoration: underline;
}

nav a:active{
    transition: color 0.1s;
    color: rgb(112, 112, 156);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 600px;
    height: 900px;
    margin: 50px auto;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5c/Football_pitch_small.svg'); /* 축구장 이미지 */
    background-size: cover;
}



/* 각 포지션을 위한 스타일 */
.player {
    position: absolute;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

/* 포지션 배치 */
.goalkeeper {
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}

.defender-left {
    top: 65%;
    left: 5%; /* 더 왼쪽으로 이동 */
}

.defender-center {
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.defender-right {
    top: 65%;
    left: 75%; /* 더 오른쪽으로 이동 */
}

.midfielder-left {
    top: 45%;
    left: 5%; /* 더 왼쪽으로 이동 */
}

.midfielder-center {
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.midfielder-right {
    top: 45%;
    left: 75%; /* 더 오른쪽으로 이동 */
}

.forward-left {
    top: 25%;
    left: 25%;
}

.forward-right {
    top: 25%;
    left: 60%;
}

.ending{
    background-color: #444444;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
